{% extends "blog/base.html" %}

{% block title %}Add a comment{% endblock %}

{% block content %}
    {% if comment %}
        <div class="comment-success">
            <h2>Your comment has been added.</h2>
            <p><a href="{{ post.get_absolute_url }}">Back to the post</a></p>
        </div>
    {% else %}
        <div class="comment-form-wrapper">
            <h2>Add a new comment</h2>
            {% include "blog/post/includes/comment_form.html" %}
        </div>
    {% endif %}
{% endblock %}